@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --lightest-blue: #EEF8FF;
    --light-blue: #D1F5FF;
    --sky-blue: #78E3FD;
    --neon-blue: #34F6F2;
    --almost-purple: #7D53DE;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

