@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --our-blue: #4388f7;
    --almost-black: #23272A;
    --inbetween-gray: #202224;
    --medium-gray: #2C2F33;
    --sender-color: #39FF14;
    --others-color: aqua;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

.text-field {
    padding-left: 4px;
}
