.chat-bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: greenyellow;
    width: 30%;
    /* height: 25%; */
    position: relative;
    top: 30px;
    left: 50px;
    right: 30px;
    bottom: 30px;
    padding: 20px;
}

.username-text {
    padding: 5px;
}

.message-text {
    padding: 5px;
}

.date-time-text {
    padding: 5px;
}
