.chat-bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--others-color);
    width: 30%;
    position: relative;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.chat-bubble.user-bubble {
    background-color: var(--sender-color);
    left: 65%;
    right: 3%;
}

.username-text {
    padding: 5px;
}

.message-text {
    padding: 5px;
}

.date-time-text {
    padding: 5px;
}
