#users-list {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--medium-gray);
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: auto;
    width: 15%;
    height: 100%;
    color: white;
}

#users-list h3 {
    padding-left: 30px;
    padding-right: 100px;
}

#users-list p {
    padding-left: 30px;
}